.greetingsFrame {
   border: 5px solid white;
   position: absolute;
  top: 14%;
  left: 30%;
  height: 70%;
  width: 40%;
  text-align: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    )

}

h1 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-transform: uppercase;
    text-shadow: 2px 2px black;
  font-size: 4rem;
}

h2 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-size: 3rem;
}
