.greetingsFrame {
   border: 5px solid white;
   position: absolute;
  top: 5%;
  left: 15%;
  height: 90%;
  width: 70%;
  text-align: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    )

}

h1 {
  color: white;
  font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px black;
  font-size: 4rem;
}

h2 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 2px 2px black;
  font-size: 3rem;
}

.icons {
  position: absolute;
  top: 90%;
  left: 30%;
}
