.greetingsFrame {
   border: 5px solid white;
   position: absolute;
  top: 15%;
  left: 27%;
  height: 70%;
  width: 45%;
  text-align: center;

}

h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
    text-shadow: 2px 2px black;
  font-size: 4rem;
}

h2 {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  font-size: 3rem;
}
