/* .pictureFrame {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
} */

.picture {
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100%;
  background-position: center;
}